@model ozmutluweb.Models.Siniflar.Urunler
@{
    ViewData["Title"] = "UrunGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Urun Guncelleme Sayfası</h1>
<br />
@using(Html.BeginForm("Urun Guncelle","Admin",FormMethod.Post))
{
    @Html.LabelFor(x=>x.ID)
    @Html.TextBoxFor(x=>x.ID, new{@class="form-control", @readonly="readonly" })
    <br />
    @Html.LabelFor(x=>x.Baslik)
    @Html.TextBoxFor(x=>x.Baslik, new{@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Tarih)
    @Html.TextBoxFor(x=>x.Tarih, new{@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.UrunImage)
    @Html.TextBoxFor(x=>x.UrunImage, new{@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Aciklama)
    @Html.TextAreaFor(x=>x.Aciklama, new{@class="form-control"})
    <br />
    <button class="btn btn-primary">Ürün Güncelle</button>
}
